
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GerardoDesigns</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css.map">
</head>
<body>
<section id="banner">
	<div class="wrapper">
		<header>
      <p id="logo">Gerardo<span>Novel</span>Designs</p>

      <nav>
        <a href="#"> Home </a>
        <a href="#"> Portfolio </a>
        <a href="#"> Services </a>
        <a class= "button button_secondary button_small" href="#"> Get in touch </a>
		  </nav>
  </header>




	<div class="content">
		<h1 class= "title"> We Create Amazing Products. </h1>
		<h2 class="sub_title"> Es un hecho establecido hace demasiado tiempo que un lect         or se distraerá con el contenido del texto. </h2>

		<div class="button_wrapper">
			<a href="#" class="button button_highlight">Learn More</a>
			<a href="#" class="button button_secondary"> Play video</a>
		</div>
	</div>
	</div>


</section>

  <section id="services" class="services">
    <div class="wrapper">
      <div class="service">
        <h3>Branding</h3>
        <p>Este es un texto aleatorio que estoy poniendo aqui para rellenar estos espacios en blanco. </p>
        <a class="button button_highlight button_small" href="#">Learn more</a>
      </div>

      <div class="service">
        <h3>UX/UI Design</h3>
        <p>Este es un texto aleatorio que estoy poniendo aqui para rellenar estos espacios en blanco. </p>
        <a class="button button_highlight button_small" href="#">Learn more</a>
      </div>

      <div class="service">
        <h3>Development</h3>
        <p>Este es un texto aleatorio que estoy poniendo aqui para rellenar estos espacios en blanco. </p>
        <a class="button button_highlight button_small" href="#">Learn more</a>
      </div>
    </div>

  </section>
</body>







</html>