<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://use.fontawesome.com/c1dffee741.js"></script>
</head>
<body>
	
<div class="container">
		<header>
			<div class="nav-bar">
				<a href="#"><i class="icon burger"></i></a>
				<span class="name">Gerardo Colina</span>
        <a href="#"><i class="icon edit"></i></a>
			</div>
      <div class="profile-pic-container">
        <img class="profile-pic" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="" />
        <div class="search-container"><i class="fa fa-search" aria-hidden="true"></i>
</div>
        
      </div>
		</header>
		  <div class="main">
		    <p class="description">
		    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		    <div class="stats-container">
		      <div class="stat">
		      <div class=" number">56</div>
		      <div class="text">likes</div>
		    </div>
		    <div class="stat">
		      <div class=" number">984</div>
		      <div class="text">followers</div>
		    </div>
		    <div class="stat">
		      <div class=" number">9</div>
		      <div class="text">pictures</div>
		    </div>
		    <div class="stat">
		      <div class=" number">23</div>
		      <div class="text">subscriptions</div>
		    </div>
		    </div>
		    <div class="view-options">
		      <div class="view-option">
		         <i class="icon grid"></i>
		      </div>

		      <div class="view-option">
		        <i class="icon list"></i>
		      </div>
		      
		    </div>
		    <div class="pictures">
		      <img src="https://unsplash.it/200/200?image=144" alt="" class="picture" />
		      <img src="https://unsplash.it/200/200?image=114" alt="" class="picture" />
		      <img src="https://unsplash.it/200/200?image=123" alt="" class="picture" />
		      <img src="https://unsplash.it/200/200?image=154" alt="" class="picture" />
		      <img src="https://unsplash.it/200/200?image=193" alt="" class="picture" />
		    </div>
		    
		  </div>
	</div>
</body>
</html>